html,
body {
	height: 100%;

}

.fancybox-lock,
.fancybox-lock body {
	overflow: visible !important;
}

body {
	padding: 0;
	margin: 0;
}

.section {
	position: relative;
	min-height: 100%;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat; 
	background-size: cover;
	text-align: center;
}

.section .img {
	display: block;
}

.section img {
	max-width: 90%;
	height: auto;
}

.section a {
	display: inline-block;
}

.section .title {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	text-align: center;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

#welcome {
	background-image: url(images/background2.png); 
}

#wtf {
	background-color: #FF00FF;
}

#omg {
	background-color: #871AF7;
	top: 100%;
}

#um {
	background-color: #00FFE9;
	top: 100%;
}

#duh {
	background-color: #A6FF00;
	top: 100%;

}



